<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Alpha Blog</title>
	<meta name="description" content="Hello World">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	

	<style>
		body { padding-top: 50px; }

		.jumbotron{
	    	background: url("http://imgur.com/Sip1Jyc.jpg") no-repeat center center; 
	    	-webkit-background-size: 100% 100%;
	    	-moz-background-size: 100% 100%;
	    	-o-background-size: 100% 100%; 
	    	background-size: 100% 100%;
	    	color:white;
		}

		.push-spaces
		{
  		  	height: 700px;
		}

		.my-header
		{

		}



	</style>
	
</head>
<body>

	<header>
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a href="" class="navbar-brand">AlphaBlog</a>
				</div>


				

				<form action="" class="navbar-form navbar-right" role="login">
					<div class = "form-group">
						<input type="text" class="form-control" placeholder="username">
						<input type="password" class="form-control" placeholder="password">
					</div>
					<button type="button" class="btn btn-success">Login</button>
			</div>
		</div>
	</header>
	
	<div class="row">
		<div class="col-md-12 jumbotron">	
			<div class="container push-spaces"
				<div class="text-center">
					<h2>Alpha Blog</h2>
					<p>This is my description</p>
					<a href="" class="btn btn-primary navbar-btn">Sign up</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Create</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum aliquet elit, at tristique lectus molestie non. Mauris venenatis posuere ex, quis iaculis lectus feugiat eget. Pellentesque feugiat, ante ac auctor aliquam, augue est semper nibh, et egestas metus ante vitae velit. Fusce dignissim maximus nunc. Sed sodales ligula ac tellus tincidunt, at scelerisque turpis dignissim. Aenean et venenatis metus. Donec quis faucibus enim, sed tempus tortor. Aenean dolor eros, suscipit sed pulvinar condimentum, eleifend a justo. Vestibulum vehicula arcu luctus molestie pretium. Etiam felis leo, venenatis convallis dictum in, condimentum nec felis. Proin sollicitudin sodales condimentum. Curabitur non vulputate lectus. Maecenas mollis sodales diam, vitae sodales mi accumsan et. Nulla ut ex fermentum, cursus arcu sit amet, dignissim purus. Vivamus at quam tristique, placerat orci id, porta ante.</p>
			</div>
			<div class="col-md-6">
				<h2>Inspire</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum aliquet elit, at tristique lectus molestie non. Mauris venenatis posuere ex, quis iaculis lectus feugiat eget. Pellentesque feugiat, ante ac auctor aliquam, augue est semper nibh, et egestas metus ante vitae velit. Fusce dignissim maximus nunc. Sed sodales ligula ac tellus tincidunt, at scelerisque turpis dignissim. Aenean et venenatis metus. Donec quis faucibus enim, sed tempus tortor. Aenean dolor eros, suscipit sed pulvinar condimentum, eleifend a justo. Vestibulum vehicula arcu luctus molestie pretium. Etiam felis leo, venenatis convallis dictum in, condimentum nec felis. Proin sollicitudin sodales condimentum. Curabitur non vulputate lectus. Maecenas mollis sodales diam, vitae sodales mi accumsan et. Nulla ut ex fermentum, cursus arcu sit amet, dignissim purus. Vivamus at quam tristique, placerat orci id, porta ante.</p>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<hr>

			<p>
				<small><a href="http://facebook.com/askorama">Like </a> On facebook</small></p>
			<p>	<small><a href="http://twitter.com/wiredwiki">Ask </a> On Twitter</small></p>
			<p>	<small><a href="http://youtube.com/wiredwiki">Subscribe </a> On Youtube</small>
				
			</p>
		</div> <!-- end container -->
	</footer>
	
	<%= link_to 'About', about_path%>
		

		

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>	
</html>